<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>시작페이지</h1>
	<button onclick="location.href='join'">가입하기</button>
	<button th:onclick="${login} ? |location.href='logout'| : |location.href='login'|"
					th:text="${login} ? '로그아웃' : '로그인'"></button>
	<button onclick="location.href='writeBoard'">글쓰기</button>
	<button onclick="location.href='messageForm'">메세지보내기</button>
	<table>
		<thead>
			<tr>
				<th>NO</th>
				<th>TITLE</th>
				<th>WRITER</th>
				<th>LIKE</th>
				<th>VIEW</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="board : ${boardList}" th:onclick="@{|location.href='boardDetail?no=${board.no}'|}">
				<td th:text="${board.no}"></td>
				<td th:text="${board.title}"></td>
				<td th:text="${board.writer}"></td>
				<td th:text="${board.thumb}"></td>
				<td th:text="${board.views}"></td>
			</tr>


		</tbody>
	</table>
</body>
</html>