<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="/js/member.js"></script>
	<title>가입하기</title>
</head>
<body>
	<h1>가입하기</h1>
	<form name="joinForm" id="joinForm" action="join" method="post">
		<table>
			<tr>
				<th>아이디</th>
				<td>
					<input type="text" id="id" name="id">
				</td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td>
					<input type="password" id="pass" name="pass">
				</td>
			</tr>
			<tr>
				<th>이름</th>
				<td>
					<input type="text" id="name" name="name">
				</td>
			</tr>
			<tr>
				<th>닉네임</th>
				<td>
					<input type="text" id="nickName" name="nickName">
				</td>
			</tr>
		</table>
		<input type="submit" id="joinFormSubmitBtn" value="가입하기">
	</ㅇ>
</body>
</html>