<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="/js/board.js"></script>
	<title>글쓰기</title>
</head>
<body>
	<h1>글쓰기</h1>
	<form name="writeBoardForm" id="writeBoardForm" action="writeBoard" method="post">
		<table>
			<tr>
				<th>제목</th>
				<td>
					<input type="text" name="title" id="title">
				</td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>
					<input type="text" th:value="${loginId}" name="writer" id="writer" readonly>
				</td>
			</tr>
			<tr>
				<th>내용</th>
				<td>
					<textarea name="content" id="content"></textarea>
				</td>
			</tr>
		</table>
		<input type="submit" value="등록하기">
	</form>
	
</body>
</html>